@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
}